body {
    background-image: url("../../assets/pages/fundo-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.parent-card {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px inset #b75eda;
    color: white;
}

.card-transparent {
    background-color: rgba(255, 255, 255, 0.3);
}
