body {
    background-image: var(--cor-fundo);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cor-texto);
}

pre {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

.card {
    position: static;
}
